:root {
  --color-accent: #e4c444;
  --color-border: #555555;
  --color-dark: #363636;
  --color-darker: #2d2d2d;;
  --color-darkest: #242424;
  --color-dim: #bbbbbb;
  --color-text: #e8e8e8;

  --site-padding: 1rem;
}


/* reset */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.15;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}


/* fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'),
       local('OpenSans-Regular'),
       url(fonts/open-sans-v15-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url(fonts/open-sans-v15-latin-700.woff2) format('woff2');
}

body {
  background-color: var(--color-darkest);
  color: var(--color-text);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
.site-title {
  font-weight: 700 !important;
}


/* links */

a {
  color: var(--color-accent);
}

a:not(:hover) {
  text-decoration: none;
}


/* layout */

.site-layout {
  display: grid;
  grid-template:
    "header" auto
    "nav"    auto
    "body"   1fr
    "footer" auto;
  height: 100vh;
}

.site-header {
  grid-area: header;
}

.site-nav {
  grid-area: nav;
}

.site-body {
  grid-area: body;
}

.site-footer {
  grid-area: footer;
}

.container {
  margin-inline: auto;
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
}

@media (min-width: 720px) {
  .container {
    --layout-width: 720px;
    max-width: var(--layout-width);
    width: var(--layout-width);
  }
}


h1,
h2,
table,
.block,
.data-value {
  margin-bottom: 1.5rem;
}

:is(
  .block,
  table,
).is-centered-h {
  margin-inline: auto;
  width: fit-content;
}


/* grid */

.grid-2columns {
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 560px) {
  .grid-2columns {
    grid-template-columns: 1fr 1fr;
  }
}


/* rows */

.row {
  display: flex;
  gap: 1rem;
}

.row.is-compact {
  gap: 0.5rem;
}

.row--collapsible {
  flex-direction: column;
}

@media (min-width: 48rem) {
  .row--collapsible {
    flex-direction: row;
  }
}

.row--center {
  justify-content: center;
}

.row--space-between {
  justify-content: space-between;
}


/* header */

.site-header {
  padding-bottom: 4rem;
  padding-top: 3rem;
}

.site-header .site-title {
  font-size: 2rem; /* 32px / 16px */
  line-height: 1.1;
}


/* navigation */

.site-nav {
  background-color: var(--color-darker);
}

.site-nav ol {
  display: flex;
  gap: 0 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: var(--color-text);
  display: block;
  padding: 1rem 0.25rem;
}


/* body */

.site-body {
  background-color: var(--color-dark);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* footer */

.site-footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
}


/* headings */

h1 {
  font-size: 1.75rem; /* 28px / 16px */
  line-height: 1.2;
}

h2 {
  font-size: 1.25rem; /* 20px / 16px */
  margin-top: 2rem;
}

:is(h1, h2) small {
  font-weight: normal;
  margin-left: 0.25em;
  opacity: 0.5;
}

h1 small {
  font-size: 1.5rem; /* 24px / 16px */
}

h2 small {
  font-size: 1.125rem; /* 18px / 16px */
}


/* tables */

table {
  --cell-padding-horizontal: 1rem;
  --cell-padding-vertical: 0.1rem;
  --row-padding-horizontal: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.table--index {
  --cell-padding-vertical: 0.35rem;
  --table-border-color: var(--color-border);
}

th {
  font-weight: bold;
}

:is(th, td) {
  padding: var(--cell-padding-vertical) var(--cell-padding-horizontal) var(--cell-padding-vertical) 0;
  text-align: left;
  vertical-align: top;
}

:is(th, td):first-child {
  padding-left: var(--row-padding-horizontal);
}

:is(th, td):last-child {
  padding-right: var(--row-padding-horizontal);
}

:is(th, td).centered {
  text-align: center;
}

:is(th, td).number {
  text-align: right;
}

table.table--index th {
  color: var(--color-dim);
  font-size: 0.8125rem; /* 13px / 16px */
  font-weight: normal;
}

table.table--index td {
  font-size: 0.9375rem; /* 15px / 16px */
}

table.table--index > thead th {
  border-color: var(--table-border-color);
  border-style: solid;
  border-width: 0 0 1px 0;
}

table.table--index > tbody > tr:not(:first-child) > :is(th, td),
table.table--index > tfoot > tr > :is(th, td) {
  border-color: var(--table-border-color);
  border-style: solid;
  border-width: 1px 0 0 0;
}

table.table--v-centered :is(th, td) {
  vertical-align: middle;
}

table.table--wide {
  width: 100%;
}


/* pagination */

.pagination-info {
  font-size: 0.8125rem; /* 13px / 16px */
  text-align: center;
}

.pagination {
  display: flex;
  column-gap: 0.375rem;
  list-style: none;
  margin-inline: auto;
  padding: 0;
  width: fit-content;
}

.page-link {
  background-color: var(--color-darkest);
  border-radius: 0.25rem;
  display: flex;
  column-gap: 0.375rem;
  font-size: 0.75rem; /* 12px / 16px */
  padding: 0.5rem 0.75rem;
}

.page-item:not(.disabled) .page-link:hover {
  background-color: var(--color-accent) !important;
  color: var(--color-darkest);
  text-decoration: none;
}

.page-item:is(.active, .disabled) .page-link {
  background-color: transparent;
  cursor: not-allowed;
}

.page-item.disabled {
  display: none;
}

.page-item .sr-only {
  display: none;
}


/* data display */

.bignumber {
  color: var(--color-accent);
  font-size: 2.5rem;
  font-weight: 400;
}

.bignumber-caption {
  color: var(--color-text);
}

.data-label {
  color: var(--color-dim);
  font-size: 0.8125rem; /* 13px / 16px */
  margin-bottom: 0.25rem;
}

.data-value {
  font-size: 0.9375rem; /* 15px / 16px */
}

.data-value + .data-label {
  margin-top: 1rem;
}


/* misc */

.homepage-section:not(:last-child) {
  margin-block-end: 3rem;
}

.breadcrumbs {
  margin-bottom: -1rem;
}

.dim {
  color: var(--color-dim);
}

.nowrap {
  white-space: nowrap;
}

.contributors img {
  display: block;
}

.text--centered {
  text-align: center;
}
