{% extends 'layout/base.html' %}

{% block body %}

<h1>Series <small>{{ series_and_party_counts|length }}</small></h1>

<table class="table--index is-centered-h">
  <thead>
    <tr>
      <th>{{ _('Name') }}</th>
      <th>{{ _('Country') }}</th>
      <th class="number">{{ _('Parties') }}</th>
    </tr>
  </thead>
  <tbody>
    {%- for series, party_count in series_and_party_counts %}
    <tr>
      <td><a href="{{ url_for('.view', slug=series.slug) }}">{{ series.name }}</a></td>
      <td>
        <div class="row row--center is-compact">
        {%- for country_code in series.country_codes %}
          {%- with country = countries.get(alpha_2=country_code) %}
          <div title="{{ country.name }}">{{ country.flag }}</div>
          {%- endwith %}
        {%- endfor %}
        </div>
      </td>
      <td class="number">{{ party_count }}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>

{%- endblock %}
