{% extends 'layout/base.html' %}

{% block body %}

  <div class="breadcrumbs"><a href="{{ url_for('.index') }}">{{ _('Series') }}</a> /</div>
  <h1>{{ series.name }}</h1>

  {%- if series.alternative_names %}
  <div class="data-label">{{ _('Alternative Names') }}</div>
  <div class="data-value">{{ series.alternative_names|join(', ') }}</div>
  {%- endif %}

  {%- if parties %}
  <h2>{{ _('Parties') }}</h2>
{% include 'party/_list.html' %}
  <div class="block block--centered">{{ parties|length }} items</div>
  {%- endif %}

{%- endblock %}
